*{
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    background:linear-gradient(180deg,rgb(105, 105, 212),rgb(223, 118, 223));
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}
.todoapp{
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding:30px 30px;
}
.todoapp h2{
    color: black;
    align-items: center;
    display: flex;
    margin-bottom: 25px;
}
.todoapp img{
    height: 30px;
    width:30px;
    margin-left:10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
    background: rgba(230, 215, 215, 0.651);
    border-radius: 15px;
}
.row input{
    flex:1;
    /* it will take full width */
    background: transparent;
    color: black;
    border: none;
    outline:none;
    padding: 10px;
}
.row button{
    border: none;
    outline:none;
    background:black;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    padding:10px 30px;
}
ul li{
    list-style-type: none;
    text-decoration: none;
    padding-left:50px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    background-image: url(images/unchecked.png);
    height:20px;
    width:20px;
    background-size: cover;
    top:12px;
    left:12px;
    background-position: center;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right:0px;
    top:18px;
    width:15px;
    height:15px;
    text-align: center;
    border-radius: 10px;
}
